{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Exam Paper Management </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->

</head>

<body>

    <main>
        <div class="container">

            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="#"
                                    class="logo d-flex align-items-center w-auto text-decoration-none fs-3 fw-normal">
                                    <img src="{% static 'assets/img/logo.png' %}" alt="">
                                    <span class="d-none d-lg-block ms-3 ">Logo Here</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Password Reset Successfully</h5>
                                     
                                    </div>
                  
                                   

                                    <div class="text-center">
                                        <!-- <h1 class="login-clr">Check your mail</h1> -->
                                        {% comment %} <p class="enter">Password Changed Successfully</p> {% endcomment %}
                                    </div>
                               <!--      <div class="mt-4">
                                        <button  class="btn submit"><a href="" style="text-decoration: none;color: white;"> VERIFY</a></button>
                                    </div> -->
                                <!--     <div class="text-center mt-2">
                                        <span>Skip, I'll confirm later</span>
                                    </div> -->
                                    <div class="text-center mt-4">
                                        <p style="font-size: 15px;color:  #313131;"><a href="{% url 'User:login' %}">Login</a></p>
                                    </div>
                                       
                                     
                                  

                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->


</body>

</html>