{% load i18n %}{% autoescape off %}
<!DOCTYPE html>
<html>
<body>
    <div class="container-fulid">
        <div class="bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="box" style="padding: 12px; margin: 10px;">
                            <div class="tittel">
                                <p class="program">Hey {{user.first_name}}</p>
                            </div>
                            <div class="tittel">
                                <p class="program">{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>
                            </div>
                            <div class="tittel">
                                <p class="program">{% trans "Please go to the following page and choose a new password:" %}
                                    {% block reset_link %}
                                    {{ protocol }}://{{ domain }}{% url 'User:password_reset_confirm' uidb64=uid token=token %}
                                    {% endblock %}</p>
                            </div>
                            <div class="tittel">
                                <p class="program">{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>
                            </div>
                            <div class="tittel">
                                <p class="program">{% trans "Thanks for using our site!" %}</p>
                            </div>
                            <div class="tittel">
                                <p class="program">{% blocktrans %}The Management team{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endautoescape %}