{% extends 'base_template.html' %}
{% block content %}
{% load static %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Sales Card -->
                    <!-- End Sales Card -->
                    <!-- Revenue Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Assign courses</h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <h6>100</h6>
                                        <span class="text-success small pt-1 fw-bold">Total </span> <span class="text-muted small pt-2 ps-1">assign courses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Assigned Sem</h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <h6>100</h6>
                                        <span class="text-success small pt-1 fw-bold">Total </span> <span class="text-muted small pt-2 ps-1">Assigned Sem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Revenue Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Uploads </h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">Total</span> <span class="text-muted small pt-2 ps-1">Uploads</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Customers Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Rejected Uploads </h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <h6>1244</h6>
                                        <span class="text-success small pt-1 fw-bold">Total</span> <span class="text-muted small pt-2 ps-1">Rejected Uploads</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Customers Card -->
                    <!-- Reports -->
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Default Table</h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>course</th>
                                            <th>semester</th>
                                            <th>subject</th>
                                            <th>subjectcode</th>
                                            <th>status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>MCA</td>
                                            <td>1</td>
                                            <td>Maths</td>
                                            <td>24</td>
                                            <td><span class="badge bg-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <td>MCA</td>
                                            <td>1</td>
                                            <td>Maths</td>
                                            <td>24</td>
                                            <td><span class="badge bg-warning">waiting</span></td>
                                        </tr>
                                        <tr>
                                            <td>MCA</td>
                                            <td>1</td>
                                            <td>Maths</td>
                                            <td>24</td>
                                            <td><span class="badge bg-danger">Rejected</span></td>
                                        </tr>
                                        <tr>
                                            <td>MCA</td>
                                            <td>1</td>
                                            <td>Maths</td>
                                            <td>24</td>
                                            <td><span class="badge bg-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <td>MCA</td>
                                            <td>1</td>
                                            <td>Maths</td>
                                            <td>24</td>
                                            <td><span class="badge bg-warning">waiting</span></td>
                                        </tr>
                                        <tr>
                                            <td>MCA</td>
                                            <td>1</td>
                                            <td>Maths</td>
                                            <td>24</td>
                                            <td><span class="badge bg-danger">Rejected</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-end"> <a href="#" class="btn btn-primary">View All</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Recent Sales -->
                    <!-- Top Selling -->
                </div>
            </div>
            <!-- End Left side columns -->
            <!-- Right side columns -->
        </div>
    </section>
</main>
<!-- End #main -->
{% endblock %}