{% extends 'base_template.html' %}
{% block content %}
{% load static %}
<main id="main" class="main">
    {% if messages %}
    {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible" style="text-align: left;">
            <a href="#" class="close" data-bs-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
            <strong>{{message}}</strong>
        </div>

        {% else %}

        <div class="alert alert-success alert-dismissible" style="text-align: left;">
            <a href="#" class="close" data-bs-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
            <strong>{{message}}</strong>
        </div>
        {% endif %}

    {% endfor %}
{% endif %}
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Sales Card -->
                    <!-- End Sales Card -->
                    <!-- Revenue Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Assign courses</h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <h6>{{ course }}</h6>
                                        <span class="text-success small pt-1 fw-bold">Total </span> <span class="text-muted small pt-2 ps-1">assign courses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Assigned Sem</h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <h6>{{ semester }}</h6>
                                        <span class="text-success small pt-1 fw-bold">Total </span> <span class="text-muted small pt-2 ps-1">Assigned Sem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Revenue Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Uploads </h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <h6>{{ total_upload }}</h6>
                                        <span class="text-success small pt-1 fw-bold">Total</span> <span class="text-muted small pt-2 ps-1">Uploads</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Customers Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Review Uploads </h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                   
                                        <h6>{{ status }}</h6>
                                                                         
                                    <span class="text-success small pt-1 fw-bold">Total</span> <span class="text-muted small pt-2 ps-1">Rejected Uploads</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Customers Card -->
                    <!-- Reports -->
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Default Table</h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Course</th>
                                            <th>Semester</th>
                                            <th>Subject</th>
                                            <th>Subjectcode</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in dataupload %}
                                        <tr>
                                            <td>{{data.course}}</td>
                                            <td>{{data.semester}}</td>
                                            <td>{{data.subject}}</td>
                                            <td>{{data.subject_code}}</td>
                                            <td><span data-="" >{{data.paper_status|default:'-'}}</span></td>
                                            
                                          
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="text-end"> <a href="{% url 'My-Upload:MyUploadView' %}" class="btn btn-primary">View All</a></div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        
        </div>
    </section>
</main>
{% endblock %}