{% extends 'base_template.html' %}
{% block content %}
{% load static %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Feedback</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Dashboard:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Feedback</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class=" {{ message.tags }} secondary " {% endif %}> {{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}

    <section class="section dashboard">
        <div class="card">
            <div class="card-body p-5">
                <form method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" value="True" type="radio" name="status" id="Approved">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Excellent
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" value="False" type="radio" name="status" id="Rejected"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                 Review Needed.
                            </label>
                        </div>
                    </div>

                    <div class="py-2 text-center">
                        <h1 class="py-3 text-primary">Return again for feedback</h1>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="True" name="return_feedback" id="Yes">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="False" name="return_feedback" id="No"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault3">
                                No
                            </label>
                        </div>

                    </div>

                    <div class="pt-3 mb-3">
                        <label>Comment</label>
                        <textarea class="form-control h-150" name="comment" ></textarea>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->
{% endblock %}