{% extends 'base_template.html' %} {% block content %} {% load static %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Send notification</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'Dashboard:dashboard' %}">Home</a>
                </li>
                <li class="breadcrumb-item active">Send notification</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible" style="text-align: left;">
        <a href="#" class="close" data-bs-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
        <strong>{{message}}</strong>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible" style="text-align: left;">
        <a href="#" class="close" data-bs-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
        <strong>{{message}}</strong>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <section class="section dashboard">
        <div class="card">
            <div class="card-body py-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="mb-2">Title</label>
                            <input class="form-control" name="title" type="text" />
                            {% for error in form.title.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-12">
                            <label class="mb-2">Message</label>
                            <textarea class="form-control h-150" name="message"></textarea>
                            {% for error in form.message.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-12">
                            <label class="mb-2">User</label>
                            <select class="form-select" id="xample-getting-started" name='user' multiple>
                                {% for data in user %}
                                <option value="{{data.id}}">{{data}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->
{% endblock %}