{% extends 'base_template.html' %}
{% block content %}
{% load static %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>View Papers</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                <li class="breadcrumb-item active">View Papers</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>course</th>
                            <th>semester</th>
                            <th>subject</th>
                            <th>subjectcode</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MCA</td>
                            <td>1</td>
                            <td>Maths</td>
                            <td>24</td>

                            <td>
                                <a href="{% url 'View-Paper:feedback' %}"class="d-inline-block btn btn-outline-primary">Give Feedback</a>
                            </td>
                        </tr>
                        <tr>
                            <td>MCA</td>
                            <td>1</td>
                            <td>Maths</td>
                            <td>24</td>

                            <td>
                                <a href="{% url 'View-Paper:feedback' %}" class="d-inline-block btn btn-outline-primary">Give Feedback</a>
                            </td>
                        </tr>
                        <tr>
                            <td>MCA</td>
                            <td>1</td>
                            <td>Maths</td>
                            <td>24</td>

                            <td>
                                <a href="{% url 'View-Paper:feedback' %}" class="d-inline-block btn btn-outline-primary">Give Feedback</a>
                            </td>
                        </tr>
                        <tr>
                            <td>MCA</td>
                            <td>1</td>
                            <td>Maths</td>
                            <td>24</td>

                            <td>
                                <a href="{% url 'View-Paper:feedback' %}" class="d-inline-block btn btn-outline-primary">Give Feedback</a>
                            </td>
                        </tr>
                        <tr>
                            <td>MCA</td>
                            <td>1</td>
                            <td>Maths</td>
                            <td>24</td>

                            <td>
                                <a href="{% url 'View-Paper:feedback' %}" class="d-inline-block btn btn-outline-primary">Give Feedback</a>
                            </td>
                        </tr>
                        <tr>
                            <td>MCA</td>
                            <td>1</td>
                            <td>Maths</td>
                            <td>24</td>

                            <td>
                                <a href="{% url 'View-Paper:feedback' %}" class="d-inline-block btn btn-outline-primary">Give Feedback</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-end">
                    <a href="#" class="btn btn-primary">View All</a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

{% endblock %}