{% extends 'base_template.html' %}
{% block content %}
{% load static %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>View Papers</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Dashboard:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">View Papers</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
        {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class=" {{ message.tags }} secondary " {% endif %}> {{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}

    <section class="section dashboard">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>course</th>
                            <th>semester</th>
                            <th>subject</th>
                            <th>subjectcode</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in dataupload %}
                        <tr>
                            <td>{{data.course}}</td>
                            <td>{{data.semester}}</td>
                            <td>{{data.subject}}</td>
                            <td>{{data.subject_code}}</td>

                            <td>
                                <a href="{% url 'View-Paper:feedback' %}"class="d-inline-block btn btn-outline-primary">Give Feedback</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% comment %} <div class="text-end">
                    <a href="#" class="btn btn-primary">View All</a>
                </div> {% endcomment %}
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

{% endblock %}